.container-color {
    background-color: #f9f9f9;

    .detail-doctor-container {
        height: auto;


        .content-left {
            height: 120px;
            width: 120px;
            margin: 10px auto 10px auto;
            background: center center no-repeat;
            border-radius: 50%;
        }

        .content-right {
            width: 100%;

            .up {
                font-size: 25px;
                font-weight: 600;
                padding-top: 15px;
            }

            .down {
                padding-top: 5px;
            }
        }

        .schedule-doctor {
            border: 1px solid red;

            .content-left {
                width: 100%;
            }
        }

        .detail-infor {}
    }
}