.home-header-container {
    height: 70px;

    .left-content {
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;

        .icon-bars {
            font-size: 1.8rem;
            color: #8f8f8f;
            margin-right: 15px;
        }

        .header-logo {
            background: url(../../assets/logo.svg);
            background-repeat: no-repeat;
            min-width: 35vh;
            height: 40px;
        }
    }

    .center-content {
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .right-content {
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;

        .support {
            margin-right: 8px;
        }

        .swichLang {
            color: #49bce2;
            font-weight: 600;
            cursor: pointer;
        }
    }

}

.home-banner-container {
    background: url('../../assets/header-background.jpg');
    min-height: 700px;
    max-height: 600px;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;

    .content-up {
        height: 65%;
        background-image: linear-gradient(rgba(126, 126, 126, 0.25), rgba(255, 255, 255, 0.1));

        .header-title-top {
            text-align: center;
            font-size: 30px;
            color: #fff;
            text-shadow: 1px 1px 1px #333;
            margin-bottom: 5px;
            padding-top: 120px;
            font-weight: 400;
        }

        .header-title-bottom {
            text-align: center;
            font-size: 30px;
            color: #fff;
            text-shadow: 1px 1px 1px #333;
            font-weight: 700;
        }

        .header-search {
            width: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px auto 0 auto;
            padding: 10px;
            border-radius: 50px;
            background-color: #f7d800;

            .search-icon {
                margin: 0 10px;
            }

            input {
                height: 30px;
                width: 360px;
                background: transparent;
                outline: none;
                border: none;
            }
        }
    }

    .content-down {

        height: 35%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        background-image:
            linear-gradient(rgba(255, 255, 255, 0.1),
                rgba(255, 255, 255, 0.9),
                rgba(255, 255, 255, 1));

        .header-option {
            gap: 50px;
            display: flex;

            .option-child {
                width: 110px;
                text-align: center;

                .icon-child {
                    background-color: #f7f6f6;
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    padding: 3px;
                    font-size: 28px;
                    margin: 0 auto;
                    color: #49bce2;
                    box-shadow: 0 2px 4px #aaa;
                }

                .text-child {
                    font-size: 17px;
                    font-weight: 600;
                    cursor: pointer;

                    &:hover {
                        color: #49bce2;
                    }
                }
            }
        }
    }



}