.slick-prev {
    left: -10px !important;
    z-index: 100 !important;
    width: 48px !important;
    height: 44px !important;
    background: #fff !important;
    border: 2px solid #d7d7d7 !important;

    &:hover {
        background: #ece7e7 !important;
    }
}

.slick-prev::before,
.slick-next::before {
    font-family: FontAwesome !important;
    color: red !important;
}

.slick-next {
    right: -10px !important;
    z-index: 100 !important;
    width: 48px !important;
    height: 44px !important;
    background: #fff !important;
    border: 2px solid #d7d7d7 !important;

    &:hover {
        background: #ece7e7 !important;
    }
}


.section-share {
    &.section-specialty {
        background: #f5f5f5;
    }

    &.section-outstanding-doctor {
        background: #f5f5f5;
    }

    &.section-about {
        height: auto;
        margin: 0 150px;
    }

    .section-body {
        text-align: center;

        .section-customize {
            padding-bottom: 30px;

            .bg-image {
                width: 330px;
                height: 220px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: #eee;
                margin: 0 auto;

                &.section-specialty {
                    background-image: url(../../assets/specialty/120331-co-xuong-khop.jpg);
                }

                &.section-medical-facility {
                    background-image: url(../../assets/MedicalFacility/bv-viet-duc.jpg);
                }

                &.section-outstanding-doctor {
                    background-image: url(../../assets/outStanding-doctor/anh-dai-dien-bs.jpg);
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                    margin-top: 20px;
                    box-shadow: 1px 1px #9a9999;
                }

                &.section-handbook {
                    background-image: url(../../assets/handbook/handbook.png);
                }
            }
        }
    }
}

.section-share {
    height: auto;

    .section-container {
        margin: 0 180px;
        display: flex;
        flex-direction: column;


        .section-header {
            height: 60px;
            margin-bottom: 30px;
            padding-top: 30px;

            .title-section {
                font-size: 22px;
                font-weight: 600;
            }

            .button-section {
                background: #ebebeb;
                color: black;
                float: right;
                padding: 10px 15px;
                border: none;
                outline: none;
                display: block;
                text-transform: uppercase;

                &:hover {
                    background: #49bce2;
                    color: #fff;
                }
            }
        }



    }

}

.section-outstanding-doctor {
    .outer-bg {
        margin-bottom: 10px;
    }

    .section-customize {
        padding: 5px;

        .customize-border {
            border: 1px solid #dbdada;
        }
    }


}

.home-footer {
    text-align: center;
    padding-top: 8px;

    a {
        text-decoration: none;
    }
}


.section-about-header {
    padding: 10px 10px 10px 0;
    font-size: 22px;
    font-weight: 600;
}

.section-about {
    .section-about-header {
        padding: 10px 10px 10px 0;
        font-size: 22px;
        font-weight: 600;
    }

    .section-about-content {
        display: flex;
        gap: 15px;
        width: 100%;

        .content-left {
            width: 60%;
        }

        .content-right {
            width: 40%;
        }
    }
}