.manage-doctor-container {
    padding: 5px;

    .manage-doctor-title {
        text-align: center;
        margin: 15px 0;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 600;
    }

    .save-content-doctor {
        outline: none;
        border: none;
        border-radius: 3px;
        padding: 10px;
        margin: 20px 0 30px 0;
        background-color: orange;
        cursor: pointer;

        &hover {
            opacity: 0.9;
        }
    }

    .more-infor {
        display: flex;
        gap: 15px;
        padding: 15px;

        .content-left {
            width: 40%;
        }

        .content-right {
            width: 60%;
        }
    }
}